::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
}

html {
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

body {
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  font-family: var(--font-geist-sans), sans-serif;
}
